Repository forcedotcom/source-deploy-retrieve, pull requests merged in 2022-10, with the labels that each got.

#727 fix: bump core
  package.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8370C-CPU-2-80GHz/eda.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8370C-CPU-2-80GHz/lotsOfClasses.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8370C-CPU-2-80GHz/lotsOfClassesOneDir.json
  yarn.lock
Labels: cla:signed

#726 Sm/coft-deploy-fix
  METADATA_SUPPORT.md
  package.json
  src/client/metadataApiDeploy.ts
  src/convert/metadataConverter.ts
  src/resolve/adapters/decomposedSourceAdapter.ts
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-CPU-E5-2673-v4-2-30GHz/eda.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-CPU-E5-2673-v4-2-30GHz/lotsOfClasses.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-CPU-E5-2673-v4-2-30GHz/lotsOfClassesOneDir.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/eda.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/lotsOfClasses.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/lotsOfClassesOneDir.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8370C-CPU-2-80GHz/eda.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8370C-CPU-2-80GHz/lotsOfClasses.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8370C-CPU-2-80GHz/lotsOfClassesOneDir.json
  test/resolve/sourceComponent.test.ts
Labels: cla:signed

#728 fix: show individual cft in a retrieve
  src/client/metadataApiRetrieve.ts
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/eda.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/lotsOfClasses.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/lotsOfClassesOneDir.json
Labels: cla:signed

#722 chore: support RelationshipGraphDefinition
  METADATA_SUPPORT.md
  src/registry/metadataRegistry.json
Labels: cla:signed, feature

#729 Sm/registry-10-02-2022
  METADATA_SUPPORT.md
  contributing/metadata.md
  src/registry/metadataRegistry.json
  src/registry/nonSupportedTypes.ts
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8171M-CPU-2-60GHz/eda.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8171M-CPU-2-60GHz/lotsOfClasses.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8171M-CPU-2-60GHz/lotsOfClassesOneDir.json
Labels: cla:signed

#735 chore: use TestContext
  package.json
  test/client/metadataApiDeploy.test.ts
  test/client/metadataApiRetrieve.test.ts
  test/client/metadataTransfer.test.ts
  test/collections/componentSet.test.ts
  test/convert/metadataConverter.test.ts
  test/convert/transformers/decomposedMetadataTransformer.test.ts
  test/convert/transformers/nonDecomposedMetadataTransformer.test.ts
  test/mock/client/index.ts
  test/mock/client/transferOperations.ts
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-CPU-E5-2673-v3-2-40GHz/eda.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-CPU-E5-2673-v3-2-40GHz/lotsOfClasses.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-CPU-E5-2673-v3-2-40GHz/lotsOfClassesOneDir.json
  test/resolve/connectionResolver.test.ts
  yarn.lock
Labels: cla:signed

#741 feat(metadata registry): adding BotBlock to metadata registry
  src/registry/metadataRegistry.json
Labels: cla:signed

#740 fix: add a better error message with invalid manifests
  .github/workflows/perfScaleNut.yml
  .github/workflows/registryCheck.yml
  .github/workflows/registryCheckPreview.yml
  src/resolve/manifestResolver.ts
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/eda.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/lotsOfClasses.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/lotsOfClassesOneDir.json
  test/resolve/manifestResolver.test.ts
Labels: cla:signed

#749 Enable CLI support for DisclosureType DisclosureDefinition DisclosureDefinitionVersion ClauseCatgConfiguration
  METADATA_SUPPORT.md
  src/registry/metadataRegistry.json
Labels: cla:missing

#747 feat: adding omnisupervisorconfig support
  METADATA_SUPPORT.md
  src/registry/metadataRegistry.json
Labels: cla:signed, feature

#751 Enable CLI support for ExtlClntAppOauthPlcyCnfg, ExtlClntAppOauthSettings, ExtlClntAppMobileSet
  METADATA_SUPPORT.md
  src/registry/metadataRegistry.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/eda.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/lotsOfClasses.json
  test/nuts/perfResults/x64-linux-2xIntel-Xeon-Platinum-8272CL-CPU-2-60GHz/lotsOfClassesOneDir.json
Labels: cla:missing
